.ant-card-hoverable:hover {
    border-color: transparent;
    animation: shadow 2s 0s infinite;
}

@keyframes shadow {
    0% {
        box-shadow: 0px 0px 5px 5px rgb(244 27 237 / 16%), 5px 0px 5px 5px rgb(255 32 32 / 12%), -5px 0px 5px 5px rgb(45 216 255 / 9%);
    }
    50% {
        box-shadow: 0px 0px 20px 20px rgb(244 27 237 / 16%), 5px 0px 20px 20px rgb(255 32 32 / 12%), -5px 0px 20px 20px rgb(45 216 255 / 9%);
    }
    100% {
        box-shadow: 0px 0px 5px 5px rgb(244 27 237 / 16%), 5px 0px 5px 5px rgb(255 32 32 / 12%), -5px 0px 5px 5px rgb(45 216 255 / 9%);
    }
}